#carousel-column {
    max-width: 264px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%   
}

a {
    color: inherit;
}

#item-show-display {
    margin-bottom: 8rem;
}

#item-show-price {
    font-size: 2rem;
    font-weight: 500;
    color: #0c256b;
}