// general
body {
    background-color: #fffcfb;
    color: #2c2c2c;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #005C64;
}

h1 {
    color: #252525;
    font-size: 2.2rem;
    font-weight: 700;
} 

h2 {
    color: #252525;
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    color: #252525;
    font-size: 1.8rem;
    font-weight: 700;
}

#name {
    color: #6B0A0A;
    font-weight: 700;
} 

.item-name {
    font-size: 1.1rem;
}

.item-price {
    font-size: 1.5rem;
    font-weight: 500;
    color: #6B0A0A;
}

// nav bar

.dropdown-item:hover {
    background-color: #d1d1d1;
}

.dropdown-item:focus {
    background-color: #98372C;
}

// home page

#header-bg{
    background-color: #98372C
}

#carousel-column {
    max-width: 264px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;   
}

#carousel-item-image {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#index-category-image {
    max-height: 130px;
}

#index-category-name {
    font-size: 1.1rem;
}

.category-bg {
    border-right: 5px solid #f8fafc !important;   
}

#reasons{
    font-size: 1rem;
}

#reasons b {
    color: #6B0A0A;
    font-size: 1.2rem;
}

// itemshow page

#item-show-display {
    margin-bottom: 8rem;
}

#item-show-price {
    font-size: 2rem;
    font-weight: 500;
    color: #6B0A0A;
}

.item-show-name {
    color: #212529;
}

.add2cart {
    background-color: #005C64;
    color: #fff;
}

.add2cart:hover {
    background-color:#004349;
    color: #fff;
}

#review-button {
    background-color: #005C64;
    border-radius: 2px;
    color:  #fff;;
}

.instock {
    border: solid rgb(1, 133, 12);
    border-width: 1px;
    color:rgb(1, 133, 12);
    font-weight: bold;
}

.outstock {
    border: solid rgb(163, 0, 0);
    border-width: 1px;
    color:rgb(163, 0, 0);
    font-weight: bold;
}

.reviewcount {
    position: relative;
    top: 2px;
}

// cart view

.adjust-qnt-btn{
    padding: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: #2c2c2c;
}

#total-price {
    font-size: 2rem;
    font-weight: 500;
    color: #6B0A0A;
}

#current-cart {
    font-size: 1.5rem;
}

#complete-info-btn {
    position: relative;
    left: 31rem
}

#cart-image {
    width:125px;
    height:125px;
    object-fit:contain;
}

.confirm {
    background-color: #e0ae6d;
    color: #212529;;
}

.confirm:hover {
    color: #fff;
    background-color: #d88d2a;
}

// category.index

.categories img {
    height: 200px;
    object-fit: cover;
}

.categories img:hover {
    opacity: 0.9;
}

.categories{
    justify-content: center;
    align-items: flex-end;
}

a#category-index-link {
        color: #213b50;
        font-size: 1.5rem;
}

a#category-index-link:hover {
    color: #1d68a7;
}

//category show

#sort-button {
    background-color: #98372C;
    border-radius: 2px;
    color:  #fff;
}

#category-show-image {
    height: 250px;
    object-fit: contain;
}