// general

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: #213b50;
    font-size: 2.2rem;
    font-weight: 600;
} 

h2 {
    color: #213b50;
    font-size: 2rem;
    font-weight: 600;
}

.item-name {
    font-size: 1.1rem;
}

.item-price {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0c256b;
}

// nav bar

.dropdown-item:focus {
    background-color: #213b50;
}

// home page

#header-bg{
    background-color: #213b50
}

#carousel-column {
    max-width: 264px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;   
}

#carousel-item-image {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#index-category-image {
    max-height: 130px;
}

#index-category-name {
    font-size: 1.1rem;
}

#reasons{
    font-size: 1rem;
}

// itemshow page

#item-show-display {
    margin-bottom: 8rem;
}

#item-show-price {
    font-size: 2rem;
    font-weight: 500;
    color: #0c256b;
}

#review-button {
    background-color: #0c256b;
    border-radius: 2px;
    color:  #fff;;
}

// cart view

.adjust-qnt-btn{
    padding: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: #213b50;
}

#total-price {
    font-size: 2rem;
    font-weight: 500;
    color: #0c256b;
}

#current-cart {
    font-size: 1.5rem;
}

#complete-info-btn {
    position: relative;
    left: 31rem
}

#cart-image {
    width:125px;
    height:125px;
    object-fit:contain;
}

// category.index

#category-index-image {
    height: 200px;
    object-fit: cover;
}

#category-index-image:hover {
    opacity: 0.7;
}

.categories{
    justify-content: center;
    align-items: flex-end;
}

#category-index-name{
        color: #213b50;
        font-size: 1.5rem;
}

#category-index-name:hover{
    color: #1d68a7;
}

//category show

#sort-button {
    background-color: #0c256b;
    border-radius: 2px;
    color:  #fff;;
}

#category-show-image {
    height: 250px;
    object-fit: contain;
}
